@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #464646;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}
